<% layout("layouts/boilerplate") %> 
    <ul>
        <% for (let campground of campgrounds) {%>
            <li> <a href="/campgrounds/<%= campground._id%> "><%= campground.location %></a></li>
        <%}  %>
    </ul>

    <footer>
        <a href="/campgrounds/new">Add Campground</a>
    </footer>
