<% layout("layouts/boilerplate") %>
    <form action="/campgrounds" method="post">
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]">
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]">
        <button>Add Campground</button>
    </form>
    <footer>
        <a href="/campgrounds">Back</a>
    </footer>
